<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <meta name="description" content="vnl-signatures HTML template">
    <meta name="author" content="Simon Lepage - InnovSA">
    <meta name="robots" content="noindex" />

</head>

<body>

    <table>
        <tbody>
            <tr>
                <td style="vertical-align: top;">

                    <div class="logo"> <a href="{{links[0]}}" target="_blank">
                            <img class="logo_femq" src="{{icons[0]}}" alt="vnl logo" title="Click here to visit our website">
                        </a>

                    </div>
                </td>

                <td style="padding-left:20px;">
                    <!--user info div : firstName, lastName, title, phone-->
                    <div class="name_and_title">

                        <p class="name">{{ info[1] }} {{ info[2] }}</p>

                        <p class="title">{{ info[4] }}</p>

                    </div>

                    <!--Div d'infos: numéro de téléphone et poste-->
                    <div class="telephone">
                        <span class="change_font_gray">T+F</span> <a href="tel:{{links[6]}}" class="num_tel">{{ info[6] }}</a>
                        {% if info[8] %}
                        <span class="num_poste"> <span class="change_font_gray">Poste</span>{{ info[8] }}</span>
                        {% endif %}
                    </div>


                    <!--Division qui contient les sites/liens: site Femmessor, lien infolettre-->
                    <div class="sites">

                        <a class="lien_site_fem" id="rose" href="{{ infoDict.website.url }}" title="Cliquez ici pour visiter notre site web!" target="_blank" style="text-decoration: none !important;display: block;">femmessor.com
                        </a>

                        <a class="lien_infolettre" href="{{ infoDict.infolettre.url }}" title="Cliquez ici pour vous abonner à notre infolettre!" target="_blank" style="display: block;">S'abonner à
                            l'infolettre</a>

                    </div>

                    <!--Division qui contient les icônes des réseaux sociaux + autres (vCard)-->
                    <div class="icons_bar">

                        <!--Sous-division qui contient les icônes des réseaux sociaux-->
                        <div class="icons_reseaux_sociaux">

                            <a href="{{ infoDict.Facebook1.url }}" target="_blank">
                                <img class="logo_icon" src="{{ infoDict.Facebook1.icon }}" alt="Facebook" title="Cliquez ici pour visiter notre page Facebook!">
                            </a>

                            {% if infoDict.Facebook2.url %}
                            <a href="{{ infoDict.Facebook2.url }}" target="_blank">
                                <img class="logo_icon" src="{{ infoDict.Facebook2.icon }}" alt="Facebook" title="Cliquez ici pour visiter notre page Facebook!">
                            </a>
                            {% endif %}

                            <a href="{{ infoDict.LinkedIn.url }}" target="_blank">
                                <img class="logo_icon" src="{{ infoDict.LinkedIn.icon }}" alt="LinkedIn" title="Cliquez ici pour visiter notre page LinkedIn!">
                            </a>

                            <a href="{{ infoDict.Twitter.url }}" target="_blank">
                                <img class="logo_icon" src="{{ infoDict.Twitter.icon }}" alt="Twitter" title="Cliquez ici pour visiter notre page Twitter!">
                            </a>

                            <a href="{{ infoDict.Instagram.url }}" target="_blank">
                                <img class="logo_icon" src="{{ infoDict.Instagram.icon }}" alt="Instagram" title="Cliquez ici pour visiter notre page Instagram!">
                            </a>

                            <a href="{{ infoDict.YouTube.url }}" target="_blank">
                                <img class="logo_icon" src="{{ infoDict.YouTube.icon }}" alt="YouTube" title="Cliquez ici pour visiter notre page YouTube!">
                            </a>

                        </div>

                        <!--Sous-division qui contient les autres icônes (dont la vCard)-->
                        <div class="icons_autres">

                            <a href="{{ infoDict.vCard.url }}" target="_blank">
                                <img class="logo_icon" src="{{ infoDict.vCard.icon }}" alt="vCard" title="Cliquez ici pour télécharger ma carte d'affaires virtuelle (vCard)">
                            </a>

                        </div>

                    </div>

                </td>
            </tr>
        </tbody>
    </table>


</body>

</html>
